@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  font-family: "Kumbh Sans";
  font-size: 12px;
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 55%;
    background-color: white;
    border-radius: 2rem;
    margin: 17rem auto 15rem auto;
}

.left {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.right {
    width: 50%;
    padding: 4rem 3rem 3rem 4rem;
}

@media screen and (max-width:375px) {
    .main {
        width: 87%;
        height: 70%;
        margin: 12rem auto 5rem auto;
        padding: 0;

    }

    html {
        width: 375px;
        height: 768px;
    }

    body {
        width: 375px;
        height: 768px;
    }

    .left {
        overflow: visible;
        width: 100%;
      } 

    .right {
        width: 95%;
        padding: 9.5rem 3rem 1rem 2rem;
    }
    
    .attribution {
        display: none;
    }
}

.img-pattern {
    position: absolute;
    left: -48rem;
    top: -24.5rem;
    z-index: 2;
}

.img-box {
    position: absolute;
    top: 33rem;
    left: 32.3rem; 
    z-index: 999;  
}

.img-woman {
    position: relative;
    margin: 6rem 0 0 -6.8rem;
    z-index: 2;
}

@media screen and (max-width:375px) {
    .img-woman {
        position: absolute;
        width: 20rem;
        height: auto;
        margin: -9.2rem auto 0 3.5rem;
    }

    .img-box {
        width: 25%;
        height: auto;
        top: 9rem;
        left: 6rem;
      }

    .img-pattern {
        width: 20rem;
        height: auto;
        left: 3.5rem;
        top: -11rem;
    }
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: hsl(237, 12%, 33%);
}

p {
    line-height: 1.5rem;
    color: hsl(240, 6%, 50%);
    display: none;
}

hr {
    color: hsl(240, 5%, 91%);
    width: 30rem;
    margin-left: 0;
}

@media screen and (max-width:375px) {
    hr {
      width: 23.5rem;
    }

    h1 {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}

h3::after {
    content: url("images/icon-arrow-down.svg");
    position: absolute;
    right: 50rem;
}

.qa:hover h3::after {
    content: url("images/icon-arrow-down.svg");
    position: absolute;
    right: 50rem;
    transform: rotate(180deg);
}

.qa:hover h3 {
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.qa:hover p { 
    display: block;
    width: 80%;
    
} 

@media screen and (max-width:375px) {
    h3::after {
        right: 4rem;
    }
    
    .qa:hover h3::after {
        right: 4rem;
    } 


}


.attribution {
    text-align: center;
    font-size: 1.2rem;
}

.attribution a {
    font-size: 1.2rem;
    color: yellow;
    text-decoration: none;
}



